.logofoot{
    margin-left: 15rem;
}
.logo-head{
    margin-right: 4rem;
}
.nav{
    margin-left: -5rem;
    float: right;
    margin-top: -7rem;
}
.boxed-btn4{
    margin-top: -1rem;
}
.mb-4{
    text-align: left;
}

.mb-4 h5{
    font-weight: 600;
}


.func-tit{
    text-align: left;
}
